# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Uploads
uploads/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/